* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #2b192e;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: #50006c;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; 
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.texto-bienvenidos {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

main img {
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
}

main a {
    display: block;
    text-align: center;
    margin: 10px auto;
}

main a img {
    max-width: 300px;
    height: 300px;
}


main h2 {
    color: #50006c; 
}

main p {
    color: #ce8ca5;
    text-align: center;
}

.biografia {
    display: flex;
    justify-content: space-between;
}

.biografia p {
    width: 50%;
    text-align: justify;
    margin-left: 50px;
}

.biografia img {
    max-width: 300px;
    height: 300px;
    
}
/*
footer {
    background-color: #50006c;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

footer {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px;
    background-color: #50006c; /* Cambia el color de fondo del footer si es necesario */
    color: #ffffff
}

footer h6 {
    margin-left: auto; /* Empuja el elemento h4 hacia la derecha */
    margin-right: 20px; /* Añade un margen derecho para separarlo de los iconos */
}

footer svg {
    width: 20px; /* Ajusta el tamaño de los iconos */
    height: 20px;
    margin-right: 10px; /* Añade un margen derecho para separar los iconos */
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .biografia {
        flex-direction: column;
        align-items: center;
    }

    .biografia p {
        width: calc(100% - 40px);
        margin: 20px;
        text-align: justify;
    }

    .biografia img {
        max-width: 100%;
        height: auto;
    }
}